<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./partials/css.ejs   %>
    <title>Document</title>
</head>
<body>
<% include ./partials/header.ejs   %>

<div class="container main">


    <table class="table">

        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Pseudo</th>
            <th scope="col">password</th>
            <th scope="col">role</th>
        </tr>
        </thead>

        <tbody>

        <% if(error){ %>
            <div class="alert alert-danger" role="alert">
                 Erreur : <%= error %>
            </div>
        <% } %>

    <% if(users){ %>

        <%  for (var i = 0; i<users.length; i++) {%>

        <tr class="table-line" data-id="<%= users[i].id %>" data-pseudo="<%= users[i].pseudo %>" data-password="<%= users[i].password %>" data-role="<%= users[i].role %>">
            <th scope="row"><%= users[i].id %></th>
            <td><%= users[i].pseudo %></td>
            <td><%= users[i].password %></td>
            <td><%= users[i].role %></td>
            <td>
                <a href="/users/remove?id=<%= users[i].id %>" class="js-remove-user"><button class="btn btn-warning">remove</button></a>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-<%= users[i].id %>">
                    modifier
                </button>
            </td>
        </tr>


        <div class="modal fade" id="modal-<%= users[i].id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modification de l'utilisateur</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/clients/modify?id=<%= users[i].id %>" method="POST">
                            <div class="form-group">
                                <label for="email<%= users[i].id %>">Email address</label>
                                <input type="email" class="form-control" id="email<%= users[i].id %>" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="password<%= users[i].id %>">Password</label>
                                <input type="password" class="form-control" id="password<%= users[i].id %>" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="select<%= users[i].id %>">Role</label>
                                <select class="form-control" id="role<%= users[i].id %>">
                                    <option value="ADM">administrateur</option>
                                    <option value="VET">vétérinaire</option>
                                    <option value="SEC">secrétaire</option>
                                </select>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <% } %>

    <% } %>



        </tbody>

    </table>

<div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-add-user">
        ajouter un user
    </button>
</div>



    <div class="modal fade" id="modal-add-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un utilisateur</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/clients/add" method="POST">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="selectRole">Role</label>
                            <select class="form-control" id="selectRole>">
                                <option>administrateur</option>
                                <option>vétérinaire</option>
                                <option>secrétaire</option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>


</div><!-- /.container -->



<% include ./partials/script.ejs %>
</body>
</html>