<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./partials/css.ejs   %>
    <title>Document</title>
</head>
<body>
<% include ./partials/header.ejs   %>

<div class="container main">


    <table class="table">

        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Pseudo</th>
            <th scope="col">password</th>
            <th scope="col">role</th>
        </tr>
        </thead>

        <tbody>

        <% if(error){ %>
            <div class="alert alert-danger" role="alert">
                 Erreur : <%= error %>
            </div>
        <% } %>

    <% if(users){ %>

        <%  for (var i = 0; i<users.length; i++) {%>

        <tr class="table-line" data-id="<%= users[i].id %>">
            <th scope="row"><%= users[i].id %></th>
            <td><%= users[i].pseudo %></td>
            <td><%= users[i].password %></td>
            <td><%= users[i].role %></td>
            <td> <a href="/clients/remove?id=<%= users[i].id %>"><button class="btn btn-warning">remove</button></a></td>
        </tr>

        <% } %>

    <% } %>
        
        </tbody>

    </table>

<div>
    <button class="btn btn-primary">ajouter un user</button>
</div>

</div><!-- /.container -->

<% include ./partials/script.ejs %>
</body>
</html>